@import 'ember-paper';

$border-color: rgba(0, 0, 0, 0.12);
$row-height: 56px;

.models-table-wrapper {

  table.paper-table {
    width: 100%;
    border-spacing: 0;
    overflow: hidden;

    thead > tr {
      height: $row-height;
    }

    tbody > tr, tfoot > tr {
      height: $row-height;
    }

    th {
      border-bottom: 1px $border-color solid;
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      font-weight: bold;
      white-space: nowrap;
    }

    td, th {
      vertical-align: middle;
      text-align: left;

      &:first-child {
        padding: 0 0 0 24px;
      }

      &:last-child {
        padding: 0 24px 0 0;
      }

      md-checkbox {
        margin: 0 5px;
        width: 20px;
      }
    }

    td {
      color: rgba(0, 0, 0, 0.87);
      font-size: 13px;
      border-top: 1px $border-color solid;

      &.md-numeric md-select {
        justify-content: flex-end;

        .md-select-value {
          flex: 0 0 auto;
        }
      }
    }

    tbody > tr {
      transition: background-color 0.2s;

      &:last-child {
        td {
          border-bottom: 1px $border-color solid;
        }
      }

      &:not([disabled]):hover {
        background-color: #eee !important;
      }

      &.selected-row, &.selected-expand {
        background-color: #f5f5f5;
      }
    }
  }

  md-input-container {
    margin: 0;
    .md-errors-spacer {
      min-height: auto;
    }
  }

  .md-button {
    min-width: 40px;
  }

  .footer-internal-wrapper {
    padding-top: 25px;
  }
}
