<div class="row global-search-wrapper">
  <div class="col-sm-offset-3 col-sm-7">
    {{input class="form-control search"
      value=filterString
      placeholder="Search..."
    }}
    {{#link-to "new" class="links"}}
      <i class="fa fa-user-plus fa-fw"></i>
      Invite
    {{/link-to}}
    <a href="/admin/users/participants/imports/new" class="links">
      <i class="fa fa-cloud-upload"></i>
      Upload
    </a>
    <span class="summary">
      {{summary}}
    </span>
  </div>
</div>
