<div class="{{classes.globalFilterWrapper}}">
  <form class="form-inline globalSearch" {{action "" on="submit"}}>
    <div class="form-group">
      <label>{{messages.searchLabel}}</label> {{input type="text" value=filterString class="form-control filterString" focus-out="changeFilterString" enter=""}}
    </div>
  </form>
</div>
