<div class="{{classes.globalFilterWrapper}}">
  <div class="form-inline globalSearch">
    <div class="form-group">
      <label>{{messages.searchLabel}}</label> {{input type="text" value=filterString class="form-control filterString" enter="" placeholder=messages.searchPlaceholder}}
    </div>
  </div>
</div>
