<div class="row">

	<div class="col-sm-8"></div>

	<div class="col-sm-2 search-box">
		<div class="input-group">
    	{{input class="form-control" value=filterString type="text" placeholder="Search participants.." autofocus=true}}
    </div>
	</div>

	<div class="col-sm-2 add-dropdown">
		<div class="btn-group">
			<button type="button" class="form-control btn btn-normal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus"></i>
				Add <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu">
			    <li class="add-upload">{{#link-to 'participants.new'}}<i class="fa fa-user-plus"></i> Invite Participant{{/link-to}}</li>
			    <li class="add-upload"><a href="/admin/users/participants/imports/new"><i class="fa fa-cloud-upload"></i> Upload Participant</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		{{! table summary start }}
		<div class="{{if useNumericPagination 'col-md-12' 'col-md-8'}} {{if useNumericPagination 'col-sm-12' 'col-sm-8'}} table-summary">
		{{summary}}
		</div>
		{{! table summary end }}
	</div>
</div>
