  <div class="{{classes.pageSizeWrapper}}">
    <div class="{{classes.pageSizeSelectWrapper}}">

      {{#x-select class="form-control changePageSize" value=pageSize as |xs|}}
        {{#each pageSizeValues key="@index" as |item|}}
          {{#xs.option value=item}}{{item}}{{/xs.option}}
        {{/each}}
      {{/x-select}}

    </div>
  </div>