<div class="{{classes.pageSizeWrapper}}">
  <div class="{{classes.pageSizeSelectWrapper}}">
    {{models-select options=pageSizeValues value=pageSize class="form-control changePageSize"}}
  </div>
</div>