<div class="{{classes.pageSizeWrapper}}">
  <div class="{{classes.pageSizeSelectWrapper}}">
    {{models-select
      options=pageSizeOptions
      value=pageSize
      class=(concat classes.input " changePageSize")
    }}
  </div>
</div>