<tr>
  {{#each processedColumns as |column|}}
    {{#if column.isVisible}}
      <td class={{column.className}}>
        {{#if column.template}}
          {{partial column.template}}
        {{else}}
          {{get record column.propertyName}}
        {{/if}}
      </td>
    {{/if}}
  {{/each}}
</tr>