{{! @glint-nocheck: this is fine }}
<label ...attributes>
  <input
    type="text"
    class={{@themeInstance.input}}
    value={{get @record @column.propertyName}}
    {{on "input" this.updateProperty}}
  />
</label>
{{yield}}