<button
  {{on "click" this.doToggleAllSelection}}
  type="button"
  class="toggle-all {{@themeInstance.buttonLink}}"
  ...attributes>
  <i class={{if
    (is-equal @selectedItems.length @data.length)
    @themeInstance.selectAllRowsIcon
    (if @selectedItems.length
      @themeInstance.selectSomeRowsIcon
      @themeInstance.deselectAllRowsIcon)
  }}></i>
</button>
{{yield}}