<button
  class={{@themeInstance.buttonLink}}
  type="button"
  {{on "click" (fn this.doClickOnRow @index @record)}}
  ...attributes>
  {{#if @isSelected}}
    {{#let (component (ensure-safe-component @themeInstance.selectRowIconComponent) themeInstance=@themeInstance) as |SelectRowIcon|}}<SelectRowIcon/>{{/let}}
  {{else}}
    {{#let (component (ensure-safe-component @themeInstance.deselectRowIconComponent) themeInstance=@themeInstance) as |DeselectRowIcon|}}<DeselectRowIcon/>{{/let}}
  {{/if}}
</button>
{{yield}}