<p>
  <UiCheckbox
    @label={{html-safe "Grouped value will be shown as row above grouped rows (<code>displayGroupedValueAs</code>)"}}
    @checked={{@displayGroupedValueAsToggle}}
    @onChange={{fn (mut @displayGroupedValueAsToggle)}}/>
</p>
{{yield}}