<p>
  {{input
    type="checkbox"
    name="displayGroupedValueAs"
    checked=displayGroupedValueAsToggle}} Grouped value will be shown as row above grouped rows (<code>displayGroupedValueAs</code>)
</p>
{{yield}}