<p>
  <label>
    <Input
      @type="checkbox"
      name="displayGroupedValueAs"
      @checked={{this.displayGroupedValueAsToggle}}/> Grouped value will be shown as row above grouped rows (<code>displayGroupedValueAs</code>)
  </label>
</p>
{{yield}}