<p>
  <UiCheckbox
    @label={{html-safe "Grouped value will be shown as row above grouped rows (<code>displayGroupedValueAs</code>)"}}
    @checked={{this.displayGroupedValueAsToggle}}
    @onChange={{fn (mut this.displayGroupedValueAsToggle)}}/>
</p>
{{yield}}