{{! template-lint-disable attribute-indentation }}
<span {{action "doToggleAllSelection"}}
  class="toggle-all {{if
    (is-equal selectedItems.length data.length)
    themeInstance.select-all-rows
    themeInstance.deselect-all-rows}}">
</span>
{{yield}}