<div class="ui menu">
  {{#link-to "index" class="header item"}}Ember Models Table{{/link-to}}
  <div class="ui simple dropdown item">
    v1.x
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/ember-models-table/v.1/">Bootstrap3 Demo</a>
    </div>
  </div>
  <div class="ui simple dropdown item">
    v2.x
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/ember-models-table/v.2/">Bootstrap3 Demo</a>
      <a class="item" href="/ember-models-table/v.2/docs/">API docs</a>
    </div>
  </div>
  <div class="ui simple dropdown item">
    v3.x
    <i class="dropdown icon"></i>
    <div class="menu">
      <a href="/ember-models-table/v.3/bs3/" class="item">Bootstrap 3 Demo</a>
      <a href="/ember-models-table/v.3/bs4/" class="item">Bootstrap 4 Demo</a>
      <a href="/ember-models-table/v.3/semantic/" class="item active">SemanticUI Demo</a>
    </div>
  </div>
  <div class="ui item gh">
    <a class="github-button" href="https://github.com/onechiporenko/ember-models-table" data-show-count="true" aria-label="Star onechiporenko/ember-models-table on GitHub">Star</a>
    <a class="github-button" href="https://github.com/onechiporenko/ember-models-table/fork" data-show-count="true" aria-label="Fork onechiporenko/ember-models-table on GitHub">Fork</a>
  </div>
  <div class="ui item gh">
    <a href="https://discord.gg/zT3asNS">Ember Discord Chat</a>
  </div>
</div>
{{yield}}