<div class="navbar">
  <div class="dropdown">
    <button type="button" class="dropdown-toggle">v1.x <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-menu">
      <a href="/ember-models-table/v.1/">Bootstrap3 Demo</a>
    </div>
  </div>
  <div class="dropdown">
    <button type="button" class="dropdown-toggle">v2.x <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-menu">
      <a href="/ember-models-table/v.2/">Bootstrap3 Demo</a>
      <a href="/ember-models-table/v.2/docs/">API docs</a>
    </div>
  </div>
  <div class="dropdown">
    <button type="button" class="dropdown-toggle">v3.x <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-menu">
      <a href="/ember-models-table/v.3/bs4/">Bootstrap 4 Demo</a>
      <a href="/ember-models-table/v.3/paper/">Paper Demo</a>
      <a href="/ember-models-table/v.3/plain-html/" class="active">Plain HTML Demo</a>
      <a href="/ember-models-table/v.3/docs/">API docs</a>
    </div>
  </div>
  <div class="dropdown active">
    <button type="button" class="dropdown-toggle">v4.x <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-menu">
      <a href="/ember-models-table/v.4/bs4/">Bootstrap 4 Demo</a>
      <a href="/ember-models-table/v.4/bs5/">Bootstrap 5 Demo</a>
      <a href="/ember-models-table/v.4/plain-html/" class="active">Plain HTML Demo</a>
      <a href="/ember-models-table/v.4/docs/">API docs</a>
    </div>
  </div>
  <a class="github-button" href="https://github.com/onechiporenko/ember-models-table" data-show-count="true" aria-label="Star onechiporenko/ember-models-table on GitHub">Star</a>
  <a class="github-button" href="https://github.com/onechiporenko/ember-models-table/fork" data-show-count="true" aria-label="Fork onechiporenko/ember-models-table on GitHub">Fork</a>
  <a href="https://discord.gg/zT3asNS">Ember Discord Chat</a>
</div>
{{yield}}