a:hover {
    text-decoration: none;
}
a.active {
    font-weight: 700;
}
pre {
    text-align: left;
    white-space: pre-line;
}
.table-footer {
    border: 1px solid #ddd;
    padding: 5px 0;
}

.models-table-wrapper {
    margin-bottom: 20px;
}

.btn-default {
    background-image: none !important;
}

.columns-dropdown {
    margin-bottom: 20px;
}

.table-column-options.table > tbody > tr > td {
    border-top-width: 0;
}

tr.selected-row>td, tr.selected-expand>td {
    background: #C6E746;
}