a:hover {
  text-decoration: none;
}
a.active {
  font-weight: 700;
}
pre {
  text-align: left;
  white-space: pre-line;
}
.table-footer {
  border: 1px solid #ddd;
  padding: 5px 0;
}

.models-table-wrapper {
  margin-bottom: 20px;
}

.btn-default {
  background-image: none !important;
}

.columns-dropdown {
  margin-bottom: 20px;
}

.table-column-options.table > tbody > tr > td {
  border-top-width: 0;
}

tr.selected-row > td:not(.grouping-cell),
tr.selected-expand > td:not(.grouping-cell) {
  background: #c6e746;
}

.navbar-text.gh {
  margin-top: 13px !important;
  margin-bottom: 11px !important;
}

.examples-menu.ui.menu .item {
  flex: auto;
}

.emt-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .emt-col {
    position: relative;
    flex-basis: 49.5%;
    max-width: 49.5%;
  }
}

@media (max-width: 1000px) {
  .emt-col {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
}

.code-block-example {
  margin: 15px 0;
  position: relative;
  .code-block {
    margin: 15px;
    overflow-x: auto;
  }
}

// BEGIN-SNIPPET table-with-custom-column-classes
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-success {
  color: green;
}
.text-uppercase {
  text-transform: uppercase;
}
// END-SNIPPET

@import "ember-power-select";
