$red: #A52A2A;

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.alert {
  background: lighten($red, 20%);
  color: #000;
  display: block;
  padding: 15px;
  border: 1px solid darken($red, 20%);
  a {
    color: darken($red, 20%);
  }
}

.container {
  padding: 0 15px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &.active {
      color: #fff;
      &:hover {
        color: #000;
      }
    }
    &.disabled {
      pointer-events: none;
      background-color: #eee;
    }
    &.active, &:hover {
      background-color: $red;
    }
  }
}

.dropdown {
  float: left;
  &.right {
    position: relative;
    float: right;
    .dropdown-menu {
      right: 0;
    }
  }
  &:hover {
    .dropdown-menu {
      display: block;
    }
    .dropdown-toggle {
      background-color: $red;
    }
  }
  &.active {
    .dropdown-toggle {
      background-color: $red;
    }
  }
  .dropdown-toggle {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #333;
    font-family: inherit;
    margin: 0;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  .dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
  }
  a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    &:hover {
      background-color: #ddd;
    }
  }
}

a {
  color: $red;
}
