<div class="row">
  <div class="col-md-12">
    <h4>{{title}}</h4>
  </div>
  <div class="col-md-8">
    {{models-table data=model columns=columns}}
  </div>
  <div class="col-md-4">
    <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
        data=model
        columns=columns&rbrace;&rbrace;
      </code></pre>
    <p><code>columns</code>:</p>
    <pre><code class="javascript">{{to-string this 'columns'}}</code></pre>
    <p><code>templates/custom/fullname.hbs</code>:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;!`record` - row from model, current column is available as `column`&rbrace;&rbrace;
&lbrace;&lbrace;record.firstName&rbrace;&rbrace; &lbrace;&lbrace;record.lastName&rbrace;&rbrace;</code></pre>
  </div>
</div>