<h4>Column sets <small>simple table</small></h4>
{{models-table data=data columns=columns columnSets=columnSets}}
<div class="row">
  <div class="col-md-6">
    <p>Component usage</p>
    <pre><code class="language-handlebars">&lbrace;&lbrace;models-table
  data=data
  columns=columns
  columnSets=columnSets&rbrace;&rbrace;</code></pre>
    <p><code>columns</code></p>
    <pre><code class="language-javascript">{{to-string this "columns"}}</code></pre>
  </div>
  <div class="col-md-6">
    <p><code>columnSets</code></p>
    <pre><code class="language-javascript">[
{
  label: 'Only Name',
  showColumns: ['firstName', 'lastName']
},
{
  label: 'Random',
  showColumns(columns) {
    columns.forEach((column) => column.set('isHidden', Math.random() > 0.5));
    this._sendColumnsVisibilityChangedAction();
  }
},
{
  label: 'Add Name',
  showColumns: ['firstName', 'lastName'],
  hideOtherColumns: false
},
{
  label: 'Toggle Name',
  showColumns: ['firstName', 'lastName'],
  toggleSet: true
}
]</code></pre>
  </div>
</div>

<h4>Columns sets <small>server paginated table</small></h4>
{{models-table-server-paginated data=model columns=columns columnSets=columnSets}}