<h4>Custom classes for columns</h4>
<p class="alert alert-info">Setting the <code>className</code> property on a column adds a css class to each cell in a column. This can be useful for styling columns.</p>
{{models-table data=data columns=columns}}
<div class="row">
  <div class="col-md-6">
    <p>Component usage:</p>
    <pre><code class="language-handlebars">&lbrace;&lbrace;models-table
  data=data
  columns=columns&rbrace;&rbrace;</code></pre>
  </div>
  <div class="col-md-6">
    <p><code>columns</code></p>
    <pre><code class="language-javascript">{{to-string this 'columns'}}</code></pre>
  </div>
</div>