<h4>Custom messages</h4>
{{! BEGIN-SNIPPET table-with-custom-messages }}
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @themeInstance={{this.themeInstance}}/>
{{! END-SNIPPET }}
<div class="emt-row">
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-custom-messages.hbs" />
  </div>
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-custom-messages.js" />
  </div>
</div>