<h4>
  Custom external action to delete table item
  <small>simple table</small>
</h4>
<p class="alert alert-info">
  Some records may be deleted from both tables in the same time.
</p>
{{models-table
  data=data
  columns=columns
  delete="deleteRecord"}}

<h4>
  Custom external action to delete table item
  <small>server paginated table</small>
</h4>
{{models-table-server-paginated
  data=model
  columns=columns
  delete="deleteRecord"}}