<h4>Custom messages</h4>
{{models-table data=data columns=columns customMessages=customMessages}}
<div class="row">
  <div class="col-md-6">
    <p>Component usage</p>
    <pre><code class="language-handlebars">&lbrace;&lbrace;models-table
  data=data
  columns=columns
  customMessages=customMessages&rbrace;&rbrace;</code></pre>
  </div>
  <div>
    <p><code>customMessages</code></p>
    <pre><code class="language-javascript">{{to-string this 'customMessages'}}</code></pre>
  </div>
</div>