<h4>Custom external action to delete table item
  <small>simple table</small>
</h4>
<p class="alert alert-info">Some records may be deleted from both tables in the same time.</p>
{{models-table data=data columns=columns delete='deleteRecord'}}
<div class="row">
  <div class="col-md-6">
    <p>Component usage</p>
    <pre><code class="language-handlebars">\{{models-table
data=data
columns=columns
delete="deleteRecord"}}</code></pre>
    <p><code>columns</code></p>
    <pre><code class="language-javascript">{{to-string this "columns"}}</code></pre>
  </div>
  <div class="col-md-6">
    <p><code>delete-row</code> component</p>
    <pre><code class="language-handlebars">&lt;button class="btn btn-default" onclick={&lbrace;action "sendAction" "delete" record&rbrace;}&gt;Delete&lt;/button&gt;
</code></pre>
    <pre><code class="language-javascript">import Component from '@ember/component';
import {get} from '@ember/object';
import layout from '../templates/components/delete-row';

export default Component.extend({
  layout,
  actions: {
    sendAction(actionName, record, event) {
      get(this, 'sendAction')(actionName, record);
      event.stopPropagation();
    }
  }
});
</code></pre>
<p>Controller</p>
<pre><code class="language-javascript">import Controller from '@ember/controller';
export default Controller.extend({
  actions: {
    deleteRecord (record) {
      record.destroyRecord();
    }
  }
});</code></pre>
  </div>
</div>

<h4>Custom external action to delete table item
  <small>server paginated table</small>
</h4>
{{models-table-server-paginated data=model columns=columns delete='deleteRecord'}}