<div class="row">
  <div class="col-md-12">
    <h4>{{title}}</h4>
  </div>
  <div class="col-md-8">
    {{models-table data=model columns=columns delete='deleteRecord'}}
  </div>
  <div class="col-md-4">
    <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
        data=model
        columns=columns
        delete='deleteRecord'&rbrace;&rbrace;</code></pre>
    <p><code>columns</code>:</p>
    <pre><code class="javascript">{{to-string this 'columns'}}</code></pre>
    <p><code>templates/custom/delete.hbs</code>:</p>
<pre><code class="handlebars">&lt;button \{{action 'sendAction' 'delete' record}}&gt;Delete&lt;/button&gt;
</code></pre>
    <p><code>controller:application</code>:</p>
      <pre><code class="javascript">
//...
actions: {
  deleteRecord: function(record) {
    var model = this.get('model');
    this.set('model', model.without(record));
  }
}
//...</code></pre>
  </div>
</div>
