<div class="row">
  <div class="col-md-12">
    <h4>{{title}}</h4>
  </div>
  <div class="col-md-8">
    {{models-table data=model columns=columns customMessages=customMessages}}
  </div>
  <div class="col-md-4">
    <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
        data=model
        columns=columns
        customMessages=customMessages&rbrace;&rbrace;</code></pre>
    <p><code>customMessages</code> (must be <code>Ember.Object</code>):</p>
    <pre><code class="javascript">{{to-string this 'customMessages'}}</code></pre>
  </div>
</div>