<h4>
  Custom classes for columns
</h4>
<p class="alert alert-info">
  Setting the <code>className</code> property on a column adds a css class to each cell in a column. This can be useful for styling columns.
</p>
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}/>
