<h4>Expandable Rows
  <small>simple table</small>
</h4>
<p class="alert alert-info">Some column should has component with actions <code>expandRow</code> and
  <code>collapseRow</code>. This column should have field <code>mayBeHidden</code> set to <code>false</code>. Value for <code>expandedRowComponent</code> should be provided to the component. It should be equal to the component name shown in the expanded row. Set <code>multipleExpand</code> to <code>true</code> to allow multiple rows be expanded in the same time.</p>
{{models-table data=data columns=columns expandedRowComponent=(component "expanded-row") multipleExpand=true}}
<div class="row">
  <div class="col-md-6">
    <p><code>expand-all-toggle</code> component</p>
    <pre><code class="language-javascript">import Component from '@ember/component';
import { get } from '@ember/object';
import layout from '../templates/components/expand-all-toggle';
export default Component.extend({
  layout,
  actions: {
    collapseAllRows() {
      get(this, 'collapseAllRows')();
    },
    expandAllRows() {
      get(this, 'expandAllRows')();
    }
  }
});
</code></pre>
    <pre><code class="language-handlebars">{{expandAllToggleTemplate}}</code></pre>
  </div>
  <div class="col-md-6">
    <p><code>expand-toggle</code> component</p>
    <pre><code class="language-javascript">import Component from '@ember/component';
import { get } from '@ember/object';
import layout from '../templates/components/expand-toggle';

export default Component.extend({
  layout,
  actions: {
    collapseRow(index, record) {
      get(this, 'collapseRow')(index, record);
    },
    expandRow(index, record) {
      get(this, 'expandRow')(index, record);
    }
  }
});
    </code></pre>
    <pre><code class="language-handlebars">{{expandToggleTemplate}}</code></pre>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p>Component usage</p>
    <pre><code class="language-handlebars">&lbrace;&lbrace;models-table
  data=data
  columns=columns
  expandedRowComponent=(component "expanded-row")
  multipleExpand=true&rbrace;&rbrace;</code></pre>
  </div>
  <div class="col-md-6">
    <p><code>columns</code></p>
    <pre><code class="language-javascript">{{to-string this "columns"}}</code></pre>
  </div>
</div>