<h4>
  Expandable Rows
  <small>simple table</small>
</h4>
<p class="alert alert-info">
  Some column should has component with actions <code>expandRow</code> and <code>collapseRow</code>. This column should have field <code>mayBeHidden</code> set to <code>false</code>. Value for <code>expandedRowComponent</code> should be provided to the component. It should be equal to the component name shown in the expanded row. Set <code>multipleExpand</code> to <code>true</code> to allow multiple rows be expanded in the same time.
</p>
{{models-table
  data=data
  columns=columns
  expandedRowComponent=(component "expanded-row")
  multipleExpand=true
  expandedItems=expandedItems}}
