<h4>
  Filtering
  <small>simple table</small>
</h4>
<p class="alert alert-info">
  <code>First name</code> uses column values for filter options.<br>
  <code>Last name</code> has a predefined list of options.<br>
  <code>Age</code> uses a custom filter-function combined with a predefined list of options.
</p>
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}/>

<h4>
  Filtering
  <small>server paginated table</small>
</h4>
<p class="alert alert-info">
  <code>First name</code> and <code>Last name</code> have a predefined lists of options.
</p>
<ModelsTableServerPaginated
  @data={{this.model}}
  @columns={{this.columnsForServerTable}}/>
