<h4>Grouped rows
  <small>simple table</small>
</h4>
<p>{{input type="checkbox" name="displayGroupedValueAs" checked=displayGroupedValueAsToggle}} Grouped value will be shown as row above grouped rows (<code>displayGroupedValueAs</code>)</p>
{{models-table
  data=data
  columns=columns
  expandedRowComponent=expandedRowComponent
  multipleExpand=true
  multipleSelect=true
  useDataGrouping=true
  dataGroupProperties=dataGroupProperties
  currentGroupingPropertyName=currentGroupingPropertyName
  displayGroupedValueAs=displayGroupedValueAs
}}
<div class="row">
  <div class="col-md-6">
    <p>Component usage:</p>
    <pre><code class="language-handlebars">&lbrace;&lbrace;models-table
  data=data
  columns=columns
  expandedRowComponent=expandedRowComponent
  multipleExpand=true
  useDataGrouping=true
  dataGroupProperties=dataGroupProperties
  currentGroupingPropertyName=currentGroupingPropertyName
  displayGroupedValueAs=displayGroupedValueAs&rbrace;&rbrace;
</code></pre>
  </div>
  <div class="col-md-6">
    <p><code>columns</code>:</p>
    <pre><code class="language-javascript">{{to-string this "columns"}}</code></pre>
  </div>
</div>