<div class="row">
  <div class="col-md-12">
    <h4>{{title}}</h4>
  </div>
  <div class="col-md-8">
    {{models-table
      data=model
      columns=columns
      groupedHeaders=groupedHeaders
      showColumnsDropdown=false
      showGlobalFilter=false
      useFilteringByColumns=false
    }}
  </div>
  <div class="col-md-4">
    <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
        data=model
        columns=columns
        groupedHeaders=groupedHeaders
        showColumnsDropdown=false&rbrace;&rbrace;
      </code></pre>
    <p><code>columns</code>:</p>
    <pre><code class="javascript">{{to-string this 'columns'}}</code></pre>
    <p><code>groupedHeaders</code>:</p>
    <pre><code class="javascript">{{to-string this 'groupedHeaders'}}</code></pre>
  </div>
</div>