<h4>
  Route cells
  <small>simple table</small>
</h4>
<p class="alert alert-info">
  firstName cell is a link to the route for model in the row.
</p>
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}/>

<h4>
  Route cells
  <small>server paginated table</small>
</h4>
<ModelsTableServerPaginated
  @data={{this.model}}
  @columns={{this.columns}}/>
