<h4>
  Route cells
  <small>simple table</small>
</h4>
<p class="alert alert-info">
  firstName cell is a link to the route for model in the row.
</p>
{{models-table
  data=data
  columns=columns}}

<h4>
  Route cells
  <small>server paginated table</small>
</h4>
{{models-table-server-paginated
  data=model
  columns=columns}}
