<h4>Route cells <small>simple table</small></h4>
<p class="alert alert-info">firstName cell is a link to the route for model in the row.</p>
{{models-table data=data columns=columns}}
<div class="row">
  <div class="col-md-6">
    <p>Component usage:</p>
    <pre><code class="language-handlebars">&lbrace;&lbrace;models-table
  data=data
  columns=columns&rbrace;&rbrace;</code></pre>
  </div>
  <div class="col-md-6">
    <p><code>columns</code>:</p>
    <pre><code class="language-javascript">{{to-string this "columns"}}</code></pre>
  </div>
</div>

<h4>Route cells <small>server paginated table</small></h4>
{{models-table-server-paginated data=model columns=columns}}
<div class="row">
  <div class="col-md-6">
    <p>Component usage:</p>
    <pre><code class="language-handlebars">&lbrace;&lbrace;models-table-server-paginated
  data=model
  columns=columns&rbrace;&rbrace;</code></pre>
  </div>
  <div class="col-md-6">
    <p><code>columns</code>:</p>
    <pre><code class="language-javascript">{{to-string this "columns"}}</code></pre>
  </div>
</div>