<h4>
  Select rows with checkboxes
  <small>simple table</small>
</h4>
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @multipleSelect={{true}}
  @selectedItems={{this.selectedItems}}/>
