<h4>Select rows with checkboxes <small>simple table</small></h4>
{{models-table data=data columns=columns multipleSelect=true selectedItems=selectedItems}}
<div class="row">
  <div class="col-md-6">
    <p><code>select-row-checkbox</code></p>
    <pre><code class="language-javascript">import Component from '@ember/component';
import {get} from '@ember/object';
import layout from '../templates/components/select-row-checkbox';
export default Component.extend({
  layout,
  actions: {
    clickOnRow(index, record, event) {
      get(this, 'clickOnRow')(index, record);
      event.stopPropagation();
    }
  }
});
</code></pre>
    <pre><code class="language-handlebars">{{selectRowCheckboxTemplate}}</code></pre>

    <p><code>select-all-rows-checkbox</code></p>
    <pre><code class="language-javascript">import Component from '@ember/component';
import {get} from '@ember/object';
import layout from '../templates/components/select-all-rows-checkbox';
export default Component.extend({
  layout,
  actions: {
    toggleAllSelection() {
      get(this, 'toggleAllSelection')();
    },

    toggleSelectedFirst() {
      get(this, 'toggleSelectedFirst')();
    }
  }
});

</code></pre>
    <pre><code class="language-handlebars">{{selectAllRowsCheckboxTemplate}}</code></pre>
  </div>
  <div class="col-md-6">
    <p>Component usage</p>
    <pre><code class="language-handlebars">&lbrace;&lbrace;models-table
  data=data
  columns=columns
  selectedItems=selectedItems
  multipleSelect=true&rbrace;&rbrace;</code></pre>
    <p><code>columns</code></p>
    <pre><code class="language-javascript">{{to-string this 'columns'}}</code></pre>
  </div>
</div>