<div class="row">
  <div class="col-md-12">
    <h4>`models-table-server-paginated` example</h4>
    <p>Component is extended into the `my-server-table` (see <code>tests/dummy/app/components/my-server-table.js</code>)</p>
  </div>
  <div class="col-md-8">
    {{my-server-table data=model columns=columns}}
  </div>
  <div class="col-md-4">
    <p>Component usage:</p>
    <pre><code class="handlebars">\{{my-server-table
  data=model
  columns=columns}}</code></pre>
    <p><code>columns</code>:</p>
    <pre><code class="javascript">{{to-string this 'columns'}}</code></pre>
  </div>
</div>