{{#let
  (hash
    GlobalFilter=(
      component themeInstance.globalFilterComponent
      value=filterString
      globalFilterUsed=globalFilterUsed
      themeInstance=themeInstance
    )
    ColumnsDropdown=(
      component themeInstance.columnsDropdownComponent
      processedColumns=processedColumns
      columnDropdownOptions=columnDropdownOptions
      themeInstance=themeInstance
      showAllColumns=(action "showAllColumns")
      hideAllColumns=(action "hideAllColumns")
      restoreDefaultVisibility=(action "restoreDefaultVisibility")
      toggleColumnSet=(action "toggleColumnSet")
      toggleHidden=(action "toggleHidden")
    )
    Table=(
      component themeInstance.tableComponent
      noHeaderFilteringAndSorting=noHeaderFilteringAndSorting
      groupedHeaders=groupedHeaders
      sort=(action "sort")
      visibleContent=visibleContent
      selectedItems=selectedItems
      expandedItems=expandedItems
      expandedRowComponent=expandedRowComponent
      processedColumns=processedColumns
      visibleProcessedColumns=visibleProcessedColumns
      useFilteringByColumns=useFilteringByColumns
      allColumnsAreHidden=allColumnsAreHidden
      displayGroupedValueAs=displayGroupedValueAs
      collapsedGroupValues=collapsedGroupValues
      currentGroupingPropertyName=currentGroupingPropertyName
      groupingRowComponent=groupingRowComponent
      groupSummaryRowComponent=groupSummaryRowComponent
      dataGroupOptions=dataGroupOptions
      groupedVisibleContentValuesOrder=groupedVisibleContentValuesOrder
      groupedVisibleContent=groupedVisibleContent
      groupedArrangedContent=groupedArrangedContent
      groupHeaderCellComponent=groupHeaderCellComponent
      useDataGrouping=useDataGrouping
      clickOnRow=(action "clickOnRow")
      toggleGroupedRowsSelection=(action "toggleGroupedRowsSelection")
      toggleGroupedRowsExpands=(action "toggleGroupedRowsExpands")
      toggleGroupedRows=(action "toggleGroupedRows")
      doubleClickOnRow=(action "doubleClickOnRow")
      hoverOnRow=(action "hoverOnRow")
      outRow=(action "outRow")
      data=data
      themeInstance=themeInstance
      expandRow=(action "expandRow")
      collapseRow=(action "collapseRow")
      expandAllRows=(action "expandAllRows")
      collapseAllRows=(action "collapseAllRows")
      toggleAllSelection=(action "toggleAllSelection")
    )
    DataGroupBySelect=(
      component themeInstance.dataGroupBySelectComponent
      value=currentGroupingPropertyName
      currentGroupingPropertyName=currentGroupingPropertyName
      themeInstance=themeInstance
      options=dataGroupOptions
      sortByGroupedFieldDirection=sortByGroupedFieldDirection
      sort=(action "sort")
    )
    Footer=(
      component themeInstance.footerComponent
      collapseNumPaginationForPagesCount=collapseNumPaginationForPagesCount
      firstIndex=firstIndex
      lastIndex=lastIndex
      recordsCount=arrangedContentLength
      anyFilterUsed=anyFilterUsed
      pageSizeOptions=pageSizeOptions
      currentPageNumberOptions=currentPageNumberOptions
      pageSize=pageSize
      currentPageNumber=currentPageNumber
      showCurrentPageNumberSelect=showCurrentPageNumberSelect
      pagesCount=pagesCount
      showPageSize=showPageSize
      useNumericPagination=useNumericPagination
      goToPage=(action "gotoCustomPage")
      clearFilters=(action "clearFilters")
      themeInstance=themeInstance
    )
    Summary=(
      component themeInstance.summaryComponent
      firstIndex=firstIndex
      lastIndex=lastIndex
      recordsCount=arrangedContentLength
      anyFilterUsed=anyFilterUsed
      themeInstance=themeInstance
      clearFilters=clearFilters
      useNumericPagination=useNumericPagination
    )
    SizeSelect=(
      component themeInstance.pageSizeSelectComponent
      type="number"
      pageSizeOptions=pageSizeOptions
      pageSize=pageSize
      themeInstance=themeInstance
    )
    PaginationNumeric=(
      component themeInstance.paginationNumericComponent
      currentPageNumber=currentPageNumber
      collapseNumPaginationForPagesCount=collapseNumPaginationForPagesCount
      recordsCount=arrangedContentLength
      pageSize=pageSize
      currentPageNumberOptions=currentPageNumberOptions
      pagesCount=pagesCount
      themeInstance=themeInstance
      showCurrentPageNumberSelect=showCurrentPageNumberSelect
      goToPage=goToPage
    )
    PaginationSimple=(
      component themeInstance.paginationSimpleComponent
      currentPageNumber=currentPageNumber
      recordsCount=arrangedContentLength
      pagesCount=pagesCount
      currentPageNumberOptions=currentPageNumberOptions
      pageSize=pageSize
      themeInstance=themeInstance
      showCurrentPageNumberSelect=showCurrentPageNumberSelect
      goToPage=goToPage
    )
    isLoading=isLoading
    isError=isError
    publicAPI=publicAPI
    processedColumns=processedColumns
    visibleProcessedColumns=visibleProcessedColumns
    visibleContent=visibleContent
    groupedVisibleContent=groupedVisibleContent
    groupedVisibleContentValuesOrder=groupedVisibleContentValuesOrder
    anyFilterUsed=anyFilterUsed
    globalFilterUsed=globalFilterUsed
    pagesCount=pagesCount
    firstIndex=firstIndex
    lastIndex=lastIndex
    currentPageNumberOptions=currentPageNumberOptions
    columnDropdownOptions=columnDropdownOptions
    allColumnsAreHidden=allColumnsAreHidden
    dataGroupOptions=dataGroupOptions

    showAllColumns=(action "showAllColumns")
    hideAllColumns=(action "hideAllColumns")
    restoreDefaultVisibility=(action "restoreDefaultVisibility")
    toggleColumnSet=(action "toggleColumnSet")
    toggleHidden=(action "toggleHidden")

    expandRow=(action "expandRow")
    collapseRow=(action "collapseRow")
    expandAllRows=(action "expandAllRows")
    collapseAllRows=(action "collapseAllRows")
    toggleAllSelection=(action "toggleAllSelection")
    clickOnRow=(action "clickOnRow")

    goToPage=(action "gotoCustomPage")
    clearFilters=(action "clearFilters")

    sort=(action "sort")

    toggleGroupedRowsSelection=(action "toggleGroupedRowsSelection")
    toggleGroupedRowsExpands=(action "toggleGroupedRowsExpands")
    toggleGroupedRows=(action "toggleGroupedRows")
    doubleClickOnRow=(action "doubleClickOnRow")
    hoverOnRow=(action "hoverOnRow")
    outRow=(action "outRow")
  )
as |ModelsTable|}}
  {{#if (has-block)}}
    {{yield ModelsTable}}
  {{else}}
    <div class={{themeInstance.headerWrapper}}>
      {{! global filter start }}
      {{#if showGlobalFilter}}
        <ModelsTable.GlobalFilter />
      {{/if}}
      {{! global filter end }}
      {{#if useDataGrouping}}
        <ModelsTable.DataGroupBySelect />
      {{/if}}
      {{! columns dropdown start }}
      {{#if showColumnsDropdown}}
        <ModelsTable.ColumnsDropdown />
      {{/if}}
      {{! columns dropdown end }}
    </div>
    {{! Div needed by Firefox to reset floating positioning }}
    <div class="models-table-clear"></div>
    <ModelsTable.Table />
    {{! table footer start }}
    {{#if showComponentFooter}}
      <ModelsTable.Footer />
    {{/if}}
    {{! table footer end }}
  {{/if}}
{{/let}}
