<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Install</h2>
      <pre>ember install ember-models-table@2</pre>
    </div>
  </div>
</div>
<div class="container-fluid">
  {{outlet}}
</div>