{{#if fw.isBs3}}
  <TopNavBs3 />
{{/if}}
{{#if fw.isBs4}}
  <TopNavBs4 />
{{/if}}
{{#if fw.isSemanticUI}}
  <TopNavSemantic />
{{/if}}
<div class={{containerClass}}>
  <h2>Install</h2>
  <pre>ember install ember-models-table@3</pre>
  {{outlet}}
</div>