<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Ember Models Table</h1>

      <h2>Install</h2>
      <pre>ember install ember-models-table</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        {{#link-to "index" tagName="li"}}{{#link-to "index"}}Docs{{/link-to}}{{/link-to}}
        {{#link-to "examples" tagName="li"}}{{#link-to "examples"}}Examples{{/link-to}}{{/link-to}}
      </ul>
    </div>
  </div>
</div>
<div class="container">
  {{outlet}}
</div>