<div class="container">
  {{! table summary start }}
  {{summary}}
  {{! table summary end }}
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Ember Models Table</h1>

      <h2>Install</h2>
      <pre>ember install ember-models-table</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#link-to "index"}}Common usage{{/link-to}} | {{#link-to "perf"}}Big table{{/link-to}}
    </div>
  </div>
</div>
{{outlet}}