<h3>Examples</h3>
<ul class="nav nav-pills">
  {{#each routes as |route|}}
    {{#link-to route.route tagName="li"}}{{#link-to route.route}}{{route.name}}{{/link-to}}{{/link-to}}
  {{/each}}
</ul>

{{outlet}}