<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>{{example1.title}}</h4>
      {{models-table data=example1.content columns=example1.columns}}
    </div>
  </div>
</div>