<button
  onclick={{this.doToggleAllSelection}}
  type="button"
  class={{concat this.themeInstance.buttonLink " toggle-all"}}>
  <i class={{if
    (is-equal this.selectedItems.length this.data.length)
    this.themeInstance.selectAllRowsIcon
    (if this.selectedItems.length
      this.themeInstance.selectSomeRowsIcon
      this.themeInstance.deselectAllRowsIcon)
  }}></i>
</button>
{{yield}}