{{#let
  (component this.expandedRowComponent
    record=this.record
    visibleProcessedColumns=this.visibleProcessedColumns
    index=this.index
    clickOnRow=this.clickOnRow
    themeInstance=this.themeInstance
  )
as |RowExpand|}}
  <td colspan={{this.cellColspan}}>
    {{#if (has-block)}}
      {{yield RowExpand}}
    {{else}}
      <RowExpand />
    {{/if}}
  </td>
{{/let}}