<td
  class={{this.themeInstance.groupingCell}}
  colspan={{this.cellColspan}}>
  {{#let
    (
      hash
        RowGroupToggle=(
          component (if
            this.groupingRowComponent
            this.groupingRowComponent
            this.themeInstance.rowGroupToggleComponent
          )
          groupedValue=this.groupedValue
          groupedLength=this.groupedLength
          currentGroupingPropertyName=this.currentGroupingPropertyName
          displayGroupedValueAs=this.displayGroupedValueAs
          visibleProcessedColumns=this.visibleProcessedColumns
          groupedItems=this.groupedItems
          selectedItems=this.selectedItems
          expandedItems=this.expandedItems
          visibleGroupedItems=this.visibleGroupedItems
          selectedGroupedItems=this.selectedGroupedItems
          expandedGroupedItems=this.expandedGroupedItems
          groupIsCollapsed=this.groupIsCollapsed
          themeInstance=this.themeInstance
          toggleGroupedRowsSelection=this.toggleGroupedRowsSelection
          toggleGroupedRowsExpands=this.toggleGroupedRowsExpands
          toggleGroupedRows=this.toggleGroupedRows
        )
    )
  as |RowGrouping|
  }}
    {{#if (has-block)}}
      {{yield RowGrouping}}
    {{else}}
      <RowGrouping.RowGroupToggle/>
    {{/if}}
  {{/let}}
</td>