<button
  class={{this.themeInstance.buttonLink}}
  type="button"
  onclick={{fn this.doClickOnRow this.index this.record}}>
  <i class={{if this.isSelected this.themeInstance.selectRowIcon this.themeInstance.deselectRowIcon}}></i>
</button>
{{yield}}