<button
  class={{this.themeInstance.buttonLink}}
  type="button"
  onclick={{fn this.doClickOnRow @index @record}}>
  <i class={{if @isSelected this.themeInstance.selectRowIcon this.themeInstance.deselectRowIcon}}></i>
</button>
{{yield}}