{{#let
  (component expandedRowComponent
    record=record
    visibleProcessedColumns=visibleProcessedColumns
    index=index
    clickOnRow=clickOnRow
    themeInstance=themeInstance
  )
as |RowExpand|}}
  <td colspan={{visibleProcessedColumns.length}}>
    {{#if (has-block)}}
      {{yield RowExpand}}
    {{else}}
      <RowExpand />
    {{/if}}
  </td>
{{/let}}