{{#let
  (hash
    goToPage=goToPage
    clearFilters=clearFilters
    expandRow=expandRow
    collapseRow=collapseRow
    expandAllRows=expandAllRows
    collapseAllRows=collapseAllRows
    themeInstance=themeInstance
    selectedItems=selectedItems
    expandedItems=expandedItems
    visibleProcessedColumns=visibleProcessedColumns
    shouldAddExtraColumn=shouldAddExtraColumn
    data=data)
as |TableFooter|}}
  {{#if (has-block)}}
    {{yield TableFooter}}
  {{else}}
    <tr>
      {{#if shouldAddExtraColumn}}
        <td></td>
      {{/if}}
      {{#each visibleProcessedColumns as |column|}}
        {{#if column.componentForFooterCell}}
          {{#let
            (component
              column.componentForFooterCell
              selectedItems=selectedItems
              expandedItems=expandedItems
              data=data
              mappedSelectedItems=(if column.propertyName (map-by column.propertyName selectedItems))
              mappedExpandedItems=(if column.propertyName (map-by column.propertyName expandedItems))
              mappedData=(if column.propertyName (map-by column.propertyName data))
            )
          as |CellContent|}}
            <CellContent/>
          {{/let}}
        {{else}}
          <td></td>
        {{/if}}
      {{/each}}
    </tr>
  {{/if}}
{{/let}}