name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
   group: ci-${{ github.head_ref || github.ref }}
   cancel-in-progress: true

jobs:
  test:
    name: "Tests"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: 12.x
          cache: npm
      - name: Install Dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Run Tests
        run: npm run test:ember

  floating:
    name: "Floating Dependencies"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12.x
          cache: npm
      - name: Install Dependencies
        run: npm install --no-shrinkwrap
      - name: Run Tests
        run: npm run test:ember

  try-scenarios:
    name: ${{ matrix.try-scenario }}
    runs-on: ubuntu-latest
    needs: 'test'

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-lts-3.16
          - ember-lts-3.20
          - ember-lts-3.24
          - ember-lts-3.28
          - ember-release
          - ember-beta
          - ember-canary
          - ember-lts-3.24-with-plain-html
          - ember-lts-3.28-with-plain-html
          - ember-default-with-plain-html
          - ember-beta-with-plain-html
          - ember-lts-3.24-with-ember-bootstrap-v4
          - ember-lts-3.28-with-ember-bootstrap-v4
          - ember-default-with-ember-bootstrap-v4
          - ember-beta-with-ember-bootstrap-v4
          - ember-lts-3.24-with-ember-bootstrap-v5
          - ember-lts-3.28-with-ember-bootstrap-v5
          - ember-default-with-ember-bootstrap-v5
          - ember-beta-with-ember-bootstrap-v5
          - ember-classic
          - embroider-safe
          - embroider-optimized

    steps:
      - uses: actions/checkout@v2
      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: 12.x
          cache: npm
      - name: Install Dependencies
        run: npm ci
      - name: Run Tests
        run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }}

  coverage:
    name: Coverage Report
    needs: [Test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
      - name: Generage Report
        run: |
          chmod +x coverage.sh
          ./coverage.sh default
          ./coverage.sh plain-html
          ./node_modules/.bin/lcov-result-merger "lcov-*.info" "lcov.info"
      - name: Publish report
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: "./lcov.info"
